%table.char
  %tbody
    %tr
      %td.gold{:colspan => 4}
        %a{:href => "/allegiances/#{@character['server']}-#{@character['allegiance_name']}"}= @character['allegiance_name']
    %tr.line
      %td{:colspan => 2}= "Followers: #{@character['followers']}"
      %td{:colspan => 2}= "Rank: #{@character['rank']}"
    %tr
      %td.gold{:colspan => 4} MONARCH
    %tr
      %td{:colspan => 4}
        - if @character['monarch']
          %a{:href => "/#{params[:server]}/#{@character['monarch']['name']}"}
            %abbr{:title => "Rank #{@character['monarch']['rank']}"}
              = RankHelper::get_rank_name(@character['monarch']['race'], @character['monarch']['gender'], @character['monarch']['rank'])
            = @character['monarch']['name']
    %tr.line
      %td{:colspan => 4}
        - if @character['monarch']
          = "Followers: #{@character['monarch']['followers']}"
    %tr
      %td.gold{:colspan => 4} PATRON
    %tr.line
      %td{:colspan => 4}
        - if @character['patron']
          %a{:href => "/#{params[:server]}/#{@character['patron']['name']}"}
            = RankHelper::get_rank_name(@character['patron']['race'], @character['patron']['gender'], @character['patron']['rank'])
            = @character['patron']['name']
    %tr
      %td.gold{:colspan => 4} VASSALS
    - if @character['vassals']
      - @character['vassals'].each do |vassal|
        %tr
          %td.vassal{:colspan => 4}
            %a{:href => "/#{params[:server]}/#{vassal['name']}"}
              %abbr{:title => "Rank #{@character['rank']}"}
                = RankHelper::get_rank_name(vassal['race'], vassal['gender'], vassal['rank'])
              = vassal['name']