%table.char
  %thead
    %tr.header.line
      %td{:colspan => 2}
        = haml :_char_header
  %tbody.attributes
    %tr
      %td.attribs_name Strength
      %td.attribs_base.right
        %span.creation= "(#{@character['attribs']['strength']['creation']}) "
        = @character['attribs']['strength']['base']
    %tr
      %td.attribs_name Endurance
      %td.attribs_base.right
        %span.creation= "(#{@character['attribs']['endurance']['creation']}) "
        = @character['attribs']['endurance']['base']
    %tr
      %td.attribs_name Coordination
      %td.attribs_base.right
        %span.creation= "(#{@character['attribs']['coordination']['creation']}) "
        = @character['attribs']['coordination']['base']
    %tr
      %td.attribs_name Quickness
      %td.attribs_base.right
        %span.creation= "(#{@character['attribs']['quickness']['creation']}) "
        = @character['attribs']['quickness']['base']
    %tr
      %td.attribs_name Focus
      %td.attribs_base.right
        %span.creation= "(#{@character['attribs']['focus']['creation']}) "
        = @character['attribs']['focus']['base']
    %tr
      %td.attribs_name Self
      %td.attribs_base.right
        %span.creation= "(#{@character['attribs']['self']['creation']}) "
        = @character['attribs']['self']['base']
    %tr
      %td.attribs_name Health
      %td.attribs_base.right= "#{@character['vitals']['health']['base']} / #{@character['vitals']['health']['base']}"
    %tr
      %td.attribs_name Stamina
      %td.attribs_base.right= "#{@character['vitals']['stamina']['base']} / #{@character['vitals']['stamina']['base']}"
    %tr.line
      %td.attribs_name Mana
      %td.attribs_base.right= "#{@character['vitals']['mana']['base']} / #{@character['vitals']['mana']['base']}"

  %tfoot
    %tr
      %td{:colspan => 2}
        %table
          %tbody
            %tr
              %td.internal
                %span Skill Credits Available:
              %td.internal.right
                %span= add_commas(@character['skill_credits'].to_s)
            %tr
              %td.internal
                %span Unassigned Experience:
              %td.internal.right
                %span= add_commas(@character['unassigned_xp'].to_s)
