%table.char
  %tbody
    %tr.line
      %td.tab{:colspan => 2} Attributes
    %tr.header.line
      %td.center
        %span.name= "#{@character['title']} #{@character['name']}"
        %span.block.title
          = "#{@character['gender']} #{@character['race']}"
          - if @character['current_title']
            = TitleHelper::get_title_name(@character['current_title'])
        %table.internal.xplum
          %tbody
            - if @character['luminance_earned']
              %tr
                %td.internal
                  %span Luminance:
                %td.internal.right
                  %span= "#{add_commas(@character['luminance_earned'].to_s)} / #{add_commas(@character['luminance_total'].to_s)}"
            - else
              %tr
                %td{:colspan => 2} &nbsp;
            %tr
              %td.left
                %span Total Experience (XP):
              %td.right
                %span= add_commas(@character['total_xp'].to_s)
            
        
      %td.center.level
        %span.block Character
        %span.block Level
        %span.block.level= @character['level']
    %tr
      %td Strength
      %td.right
        %span.creation= "(#{@character['attribs']['strength']['creation']}) "
        = @character['attribs']['strength']['base']
    %tr
      %td Endurance
      %td.right
        %span.creation= "(#{@character['attribs']['endurance']['creation']}) "
        = @character['attribs']['endurance']['base']
    %tr
      %td Coordination
      %td.right
        %span.creation= "(#{@character['attribs']['coordination']['creation']}) "
        = @character['attribs']['coordination']['base']
    %tr
      %td Quickness
      %td.right
        %span.creation= "(#{@character['attribs']['quickness']['creation']}) "
        = @character['attribs']['quickness']['base']
    %tr
      %td Focus
      %td.right
        %span.creation= "(#{@character['attribs']['focus']['creation']}) "
        = @character['attribs']['focus']['base']
    %tr
      %td Self
      %td.right
        %span.creation= "(#{@character['attribs']['self']['creation']}) "
        = @character['attribs']['self']['base']
    %tr
      %td Health
      %td.right= "#{@character['vitals']['health']['base']} / #{@character['vitals']['health']['base']}"
    %tr
      %td Stamina
      %td.right= "#{@character['vitals']['stamina']['base']} / #{@character['vitals']['stamina']['base']}"
    %tr.line
      %td Mana
      %td.right= "#{@character['vitals']['mana']['base']} / #{@character['vitals']['mana']['base']}"
    %tr.header
      %td.internal{:colspan => 2}
        %table.internal
          %tbody
            %tr
              %td.internal
                %span Skill Credits Available:
              %td.internal.right
                %span= add_commas(@character['skill_credits'].to_s)
            %tr
              %td.internal
                %span Unassigned Experience:
              %td.internal.right
                %span= add_commas(@character['unassigned_xp'].to_s)