%table
  %tbody
    %tr
      %td.headerleft.center
        %span.name
          = RankHelper::get_rank_name(@character['race'], @character['gender'], @character['rank'])
          = @character['name']
        %span.block.title
          %abbr{:title => "Gender"}= GenderHelper::get_gender_name(@character['gender'])
          %abbr{:title => "Race"}= RaceHelper::get_race_name(@character['race'])
          - if @character['current_title']
            %abbr{:title => "Current Title"}= TitleHelper::get_title_name(@character['current_title'])
        %span.block.title &nbsp;
        %table.internal.xplum
          %tbody
            - if @character['luminance_earned'] && @character['luminance_earned'] > 0
              %tr
                %td.left
                  %span Luminance:
                %td.right
                  %span= "#{AppHelper.add_commas(@character['luminance_earned'].to_s)} / #{AppHelper.add_commas(@character['luminance_total'].to_s)}"
            %tr
              %td.left
                %span Total Experience (XP):
              %td.right
                %span= AppHelper.add_commas(@character['total_xp'].to_s)
            %tr{:style => ExperienceHelper.progress_style(@character) }
              %td.left
                %span XP for next level:
              %td.right
                %span= ExperienceHelper.xp_for_next_level(@character)

      %td.headerright.center.level
        %span.block Character
        %span.block Level
        %span.block.level= @character['level']