%table
  %tbody
    %tr
      %td.headerleft.center.nameplate
        %span.name
          = RankHelper::get_rank_name(@character['race'], @character['gender'], @character['rank'])
          = @character['name']
        %span.block.title
          %abbr{:title => "Gender"}= GenderHelper::get_gender_name(@character['gender'])
          %abbr{:title => "Race"}= RaceHelper::get_race_name(@character['race'])
          - if @character['current_title']
            %abbr{:title => "Current Title"}= TitleHelper::get_title_name(@character['current_title'])
        %span.block.title &nbsp;
        %div.xplum
          - if @character['luminance_earned'] && @character['luminance_earned'] > 0
            %div.twocol-onetwo
              %div Luminance:
              %div= "#{AppHelper.add_commas(@character['luminance_earned'].to_s)} / #{AppHelper.add_commas(@character['luminance_total'].to_s)}"
          %div.total-xp.twocol
            %div Total Experience (XP):
            %div= AppHelper.add_commas(@character['total_xp'].to_s)
          %div.xp-next-level{:style => ExperienceHelper.progress_style(@character)}
            %div.twocol{:style => ExperienceHelper.overlay_style(@character)}
              %div XP for next level:
              %div= ExperienceHelper.xp_for_next_level(@character)

      %td.headerright.center.level
        %span.block Character
        %span.block Level
        %span.block.level= @character['level']
