%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Other Properties
    %tr.colnames
      %td ID / Name
      %td Value
  %tbody
    - @character.properties.sort { |a,b| a[0].to_i <=> b[0].to_i}.each do |k,v|
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v

%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Augmentations
    %tr.colnames
      %td Name
      %td Uses
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :aug)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v
        
%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Auras
    %tr.colnames
      %td Name
      %td Uses
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :aura)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v
        
%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Masteries
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :mastery)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= PropertiesHelper::get_mastery_name(k,v)
        
%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Resistances
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :resist)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v
                
%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Ratings
    %tr.colnames
      %td Name
      %td Uses
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :rating)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v
        
%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Other
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :other)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v
        
%table.char
  %thead
    %tr.line
      %td.tab{:colspan => 2} Society
  %tbody
    - @character.properties.each do |k,v|
    - next unless PropertiesHelper::is_type(k, :society)
      %tr
        %td= PropertiesHelper::get_property_name(k)
        %td= v