%table.char.skills
  %tbody
    %tr.line
      %td.tab{:colspan => 3} Skills
    %tr
      %td.specialized{:colspan => 3} Specialized Skills
    - @character['skills'].select { |key,value| value['training'] == "Specialized"}.sort.each do |skill|
      %tr
        %td.icon
          %img{:src => "/images/skills/#{skill[1]["name"]}.png"}
        %td= skill[1]["name"].split("_").map(&:capitalize).join(" ")
        %td.right= skill[1]["base"]
    %tr
      %td.trained{:colspan => 3} Trained Skills
    - @character['skills'].select { |key,value| value['training'] == "Trained"}.sort.each do |skill|
      %tr
        %td.icon
          %img{:src => "/images/skills/#{skill[1]["name"]}.png"}
        %td= skill[1]["name"].split("_").map(&:capitalize).join(" ")
        %td.right= skill[1]["base"]