%h2.title= "Account: #{params[:account_name]}"

- if !@characters.any?
  %span This account either doesn't exist or doesn't have any characters associated with it.
- else
  %p
    = "This account has #{@characters.count} associated character#{@characters.count > 1 ? "s" : ""}."
  %table.listing#listing
    %thead
      %tr
        %th Name
        %th Server
        %th Level
        %th Rank
        %th Luminance Earned
    %tbody
      - @characters.each do |character|
        %tr
          %td
            %a{:href => "/#{character[:server]}/#{character[:name]}"}= character[:name]
          %td= character[:server]
          %td= character[:level]
          %td= character[:rank]
          %td= character[:luminance_earned]

%script{:type => "text/javascript", :src => "/js/tablesort.min.js"}

:javascript
  new Tablesort(document.getElementById("listing"))