- if !@characters
  %h2.title Allegiance Member Search
  %span No characters found.
- else
  %h2.title= "#{@name} (#{@server})"
  %p
    %a{:href => "/allegiances/#{@server}-#{@name}.json"} Download all characters as JSON
  %span Showing all characters TreeStats knows about. Scroll to zoom and drag to pan.

  #tree

:css
  .link {
    stroke: #CCC;
    stroke-width: 1px;
    shape-rendering: smoothEdges;
  }

  .node text {
    font: 10px sans-serif;
    fill: white;
    shape-rendering: smoothEdges;
  }

  .node circle {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: smoothEdges;
  }

%script{:src => javascript_path('d3.min')}
%script{:src => javascript_path('tree')}

:javascript
  var tokens = window.location.href.split("/"),
    request_url = ["/", tokens[tokens.length - 2], "/", tokens[tokens.length - 1], "/chain.json"].join("");

  var tmp = tokens[tokens.length - 1].split("-");
  var server_name = tmp[0],
      allegiance_name = tmp[1];

  d3.json(request_url, function(error, json) {
    draw('#tree', json, server_name, allegiance_name, {
      width: 1000,
      height: 1000
    });
  });
