- if !@characters
  %h2.title Allegiance Member Search
  %span No characters found.
- else
  %h2.title= "#{@name} (#{@server})"

  %ul
    - @characters.each do |c|
      %li
        %a{:href => "/#{c.server}/#{c.name}"}= c.name
        
