:plain
  #{@character[:name]} is level #{@character[:level]}
  #{@character[:name]} is a #{@character[:gender]}
  #{@character[:name]} has the title of #{@character[:race]} #{TitleHelper::get_title_name(@character.current_title)}

:plain
  #{@character[:name]} is specialized in the following skills:
- @character['skills'].select { |key,value| value['training'] == "Specialized"}.sort.each do |skill|
  = "- #{skill[1]["name"].split("_").map(&:capitalize).join(" ")}"
=""


:plain
  #{@character[:name]} is trained in the following skills:
- @character['skills'].select { |key,value| value['training'] == "Trained"}.sort.each do |skill|
  = "- #{skill[1]["name"].split("_").map(&:capitalize).join(" ")}"

=""
- if @character[:monarch][:name] == @character[:name]
  = "#{@character[:name]} is the monarch of #{@character[:allegiance_name]}"
  = "#{@character[:name]} has #{@character[:followers]} followers."
  =""
  :plain
    #{@character[:name]}'s vassals are:
  :plain
    #{@character[:vassals].map { |v| "- " + v[:name] }.join("\n")}
- else
  :plain
    #{@character[:name]}'s patron is #{@character[:patron][:name]}
    #{@character[:name]} has #{@character[:followers]} followers
  =""
  :plain
    #{@character[:name]}'s vassals are:
  :plain
    #{@character[:vassals].map { |v| "- " + v[:name] }.join("\n")}
