- if @character.nil?
  %span Couldn't find the requested character.
- else
  %h2.title= "#{@character['name']} (#{@character['server']})"

  %span.last_updated
    %span.last_updated_name Last Updated
    %span.last_updated_text= @character["updated_at"]

  .row
    - if @character.attribs
      = haml :_attributes_pane
      = haml :_skills_pane
      = haml :_allegiance_pane
      = haml :_other_pane
    - else
      = haml :_stub_pane
      
= haml :_tree_pane
