- if @character.nil?
  %span Couldn't find the requested character.
- else
  %div.character-header
    %div
      %div.character-header-server
        %a{:href => "/#{@character['server']}"}= @character["server"]
      %div.character-header-name
        %h2.title= "#{@character['name']}"
    %div.character-header-extra
      - if @character['account_name']
        %span
          %a{:href => "/account/#{@character['account_name']}"} View other characters

      - if @character.attribs
        %span
          %a{:href => "https://planner.treestats.net/?action=import&server=#{@character['server']}&character=#{@character['name']}"}
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 512 512"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>
            Open in Planner

  .last_updated
    = "Last updated #{AppHelper.relative_time(@character["updated_at"])} via <a href='https://github.com/amoeba/treestats/releases'>Decal Plugin</a>"

  - if @character.attribs
    .tabcontainer
      .tabbar
        .tab.active Attributes
        .tab.inactive Skills
        .tab.inactive
          Titles
          = @character.titles.nil? ? "" : "(#{@character.titles.length})"
      .box.active
        != haml :_attributes_pane
      .box.inactive
        != haml :_skills_pane
      .box.inactive
        != haml :_titles_pane

    - if @character.properties
      .tabcontainer
        .tabbar
          .tab.active Allegiance
        .box.active
          != haml :_allegiance_pane
      .tabcontainer
        .tabbar
          .tab.active Augmentations
          .tab.inactive Ratings
          .tab.inactive Other
        .box.active
          != haml :_augmentations_pane
        .box.inactive
          != haml :_ratings_pane
        .box.inactive
          != haml :_other_pane
    - else
      .tabcontainer
        .tabbar
          .tab.active Allegiance
          .tab.inactive Other
        .box.active
          != haml :_allegiance_pane
        .box.inactive
          != haml :_other_pane

  - else
    != haml :_stub_pane

  .tabcontainer.chain
    .tabbar
      .tab.active Allegiance Chain
    .box.active
      != haml :_chain_pane

%script{:type => 'text/javascript', :src => javascript_path('tabs')}

:javascript
  var tabcontainers = select_by_class("tabcontainer");

  for(var i = 0; i < tabcontainers.length; i++) {
    var children = tabcontainers[i].childNodes;

    for(var j = 0; j < children.length; j++) {
      if(has_class(children[j], "tabbar")) {
        var tabs = children[j].childNodes;

        for(var k = 0; k < tabs.length; k++) {
          if(has_class(tabs[k], "tab")) {
            tabs[k].addEventListener("click", function() {
              activate(this);
            });

          }
        }
      }
    }
  }
