- if @character.nil?
  %span Couldn't find the requested character.
- else
  %h2.title= "#{@character['name']} (#{@character['server']})"

  .last_updated
    %span.last_updated_name Last Updated
    %span.last_updated_text= @character["updated_at"]


  - if @character.attribs
    .tabcontainer
      .tabbar
        .tab.active Attributes
        .tab.inactive Skills
        .tab.inactive Titles
      .box.active
        = haml :_attributes_pane
      .box.inactive
        = haml :_skills_pane
      .box.inactive
        = haml :_titles_pane

    - if @character.properties
      .tabcontainer
        .tabbar
          .tab.active Augmentations
          .tab.inactive Ratings
          .tab.inactive Other
        .box.active
          = haml :_augmentations_pane
        .box.inactive
          = haml :_ratings_pane
        .box.inactive
          = haml :_other_pane
      .tabcontainer
        .tabbar
          .tab.active Allegiance
        .box.active
          = haml :_allegiance_pane
    - else
      .tabcontainer
        .tabbar
          .tab.active Allegiance
          .tab.inactive Other
        .box.active
          = haml :_allegiance_pane
        .box.inactive
          = haml :_other_pane

  - else
    = haml :_stub_pane

  .tabcontainer.chain
    .tabbar
      .tab.active Allegiance Chain
    .box.active
      = haml :_chain_pane

  - if @character.properties
    .tabcontainer
      .tabbar
        .tab.active Unknown Properties
      .box.active
        = haml :_properties_pane

%script{:type => 'text/javascript', :src => '/js/tabs.js'}

:javascript
  var tabcontainers = select_by_class("tabcontainer");

  for(var i = 0; i < tabcontainers.length; i++) {
    var children = tabcontainers[i].childNodes;

    for(var j = 0; j < children.length; j++) {
      if(has_class(children[j], "tabbar")) {
        var tabs = children[j].childNodes;

        for(var k = 0; k < tabs.length; k++) {
          if(has_class(tabs[k], "tab")) {
            tabs[k].addEventListener("click", function() {
              activate(this);
            });

          }
        }
      }
    }
  }
