%h2.title Characters

- if !@characters.any?
  %span There are no characters to display.
- else    
  %span
    There
    = @characters.count > 1 ? "are" : "is"
    = "#{@characters.count} character#{@characters.count > 1 ? "s" : ""}"
    in the database. Here's 100 of the most recently updated ones.

  %ul
    - @characters.each do |c|
      %li
        %a{:href => "/#{c['server']}/#{c['name']}"}= "#{c['name']} (#{c['server']})"