- if @character.nil?
  %span Couldn't find the requested character.
- else
  %div.character-header
    %div
      %div.character-header-server
        %a{:href => "/#{@character['server']}"}= @character["server"]
      %div.character-header-name
        %h2.title= "#{@character['name']}"
    %div.character-header-extra
      - if @character['account_name']
        %div
          %a{:href => "/account/#{@character['account_name']}"}
            -# https://phosphoricons.com/
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><circle cx="128" cy="120" r="40" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><path d="M63.8,199.4a72,72,0,0,1,128.4,0" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
            View Other Characters

      - if @character.attribs
        %div
          %a{:href => "https://planner.treestats.net/?action=import&server=#{@character['server']}&character=#{@character['name']}"}
            -# https://phosphoricons.com/
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="216 100 216 40 156 40" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="144" y1="112" x2="216" y2="40" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M184,144v64a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V80a8,8,0,0,1,8-8h64" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
            Open in Planner

  .last_updated
    Last updated
    = AppHelper.relative_time(@character["updated_at"])
    via
    %a{:href => "https://github.com/amoeba/treestats/releases"} Decal Plugin

  - if @character.attribs
    .tabcontainer
      .tabbar
        .tab.active Attributes
        .tab.inactive Skills
        .tab.inactive
          Titles
          = @character.titles.nil? ? "" : "(#{@character.titles.length})"
      .box.active
        != haml :_attributes_pane
      .box.inactive
        != haml :_skills_pane
      .box.inactive
        != haml :_titles_pane

    - if @character.properties
      .tabcontainer
        .tabbar
          .tab.active Allegiance
        .box.active
          != haml :_allegiance_pane
      .tabcontainer
        .tabbar
          .tab.active Augmentations
          .tab.inactive Ratings
          .tab.inactive Other
        .box.active
          != haml :_augmentations_pane
        .box.inactive
          != haml :_ratings_pane
        .box.inactive
          != haml :_other_pane
    - else
      .tabcontainer
        .tabbar
          .tab.active Allegiance
          .tab.inactive Other
        .box.active
          != haml :_allegiance_pane
        .box.inactive
          != haml :_other_pane

  - else
    != haml :_stub_pane

  .tabcontainer.chain
    .tabbar
      .tab.active Allegiance Chain
    .box.active
      != haml :_chain_pane

%script{:type => 'text/javascript', :src => javascript_path('tabs')}

:javascript
  var tabcontainers = select_by_class("tabcontainer");

  for(var i = 0; i < tabcontainers.length; i++) {
    var children = tabcontainers[i].childNodes;

    for(var j = 0; j < children.length; j++) {
      if(has_class(children[j], "tabbar")) {
        var tabs = children[j].childNodes;

        for(var k = 0; k < tabs.length; k++) {
          if(has_class(tabs[k], "tab")) {
            tabs[k].addEventListener("click", function() {
              activate(this);
            });

          }
        }
      }
    }
  }
