%h2.title Characters

- if !@characters.any?
  %span There are no characters to display.
- else
  %p
    There
    = @characters.count > 1 ? "are" : "is"
    = "#{@characters.count} character#{@characters.count > 1 ? "s" : ""}"
    in the database. Here's 100 of the most recently updated ones.

  %table.listing
    %thead
      %tr
        %th Character
        %th Server
    %tbody
      - @characters.each do |c|
        %tr
          %td
            %a{:href => "/#{c['server']}/#{c['name']}"}= "#{c['name']}"
          %td= c['server']
