%h2.title Welcome to TreeStats!

%table.dashboard.dashboard-wide
  %thead
    %tr.title
      %td{:colspan => 2} Latest Uploads
    %tr
      %th Character
      %th Updated
  %tbody
    - @latest.each do |c|
      %tr
        %td
          %a{:href => "/#{c.server}/#{c.name}"}= "#{c.name} (#{c.server})"
        %td= relative_time(c.updated_at)

%h2 News

%div
  %p
    %p Update <code>2016-08-08 0600 UTC</code>
    %h3 (Another) New plugin release + Installer
    %ul
      %li There is now an installer. I'm not sure if anyone was needing this but I always intended to do one. Hopefully it works for everyone and not just me?
      %li Getting warned about sending too many updates when you weren't sending any manually should be fixed. I'm not sure how many users were experiencing this.

%div
  %p
    %p Update <code>2016-08-03 1719 UTC</code>
    %h3 New plugin release!
    %ul
      %li TreeStats (the plugin) now lets you view your characters and their stats together. Create an account using the Accounts tab in the plugin and any characters you upload after that will be grouped together. I hope this is helpful for people comparing stuff like augs across characters.

      %li Also fixed a bug with locales and dates breaking uploads for probably exactly one person. I'm sorry!!!

      %li And sorry for breaking uploads overnight.

%div
  %p
    Update <code>2016-06-25 1719 UTC</code>
  %p
    %ul
      %li Increased how far you can zoom out in the chain view. Some people apparently have huge chains!

%div
  %p
    Update <code>2016-02-24 0800 UTC</code>
  %p
    %ul
      %li Titles should now display as they do ingame. I had made some bad assumptions before. FYI to anyone who cares: I get the titles from portal.dat so you'll see titles that may not be listed anywhere else, like acpedia.

%div
  %p
    Update <code>2016-02-23 1600 UTC</code>
  %p
    %ul
      %li The 'Titles' tab on the character pages now show the title count for that character
      %li The titles shown in the 'Titles' tab of your character now link to their corresponding page in the Titles listing
      %li The Titles listing now sorts by server, then by character name
      %li The Titles listing is now sorted by title name

%div
  %p
    Update <code>2016-02-20 1600 UTC</code>
  %p
    %ul
      %li Per user request, I've added a <a href="/titles">titles</a> listing so you can find players that have a particular title.
      %li Added a ranking for the number of times a character has been Enlightened: <a href="/rankings?ranking=times_enlightened">/rankings?ranking=times_enlightened</a>

%div
  %p
    Update <code>2016-02-16 0000 UTC</code>
  %p
    %ul
      %li Complete re-write of the ranking system. This fixes an 'Internal Server Error' some users were receiving when they tried to sort in reverse order
      %li Added a Rankings Index at <a href="/rankings">/rankings</a> that shows all possible rankings.
      %li Added new rankings: Total XP, Followers
      %li Rankings for vitals are now in their own group
      %li The 'Most Titles' ranking is now under the Other grouping

%div
  %p
    Update <code>2015-12-29 0500 UTC</code>
  %p
    I've decided to start putting updates here on the front page instead if hiding them away in commit messages. Here are a few updates:

    %ul
      %li Added a subheader to the top of the website so Google shows something useful.
      %li Extracted the introductory text from the front page into its own page: <a href="/about">http://treestats.net/about</a>.
      %li Wrote up a small section on the pseudo-API for TreeStats at <a href="/api">http://treestats.net/api</a>.
      %li Removed the monthly uploads chart from the front page and made the daily uploads chart wider.
      %li Made the <a href="/player_counts-latest.json">latest player counts</a> API endpoint pretty-print its output.
      %li Fixed long-standing but in the accounts view for where the 'birth' field wasn't working.
