%h2.title Welcome to TreeStats

#dashboard
  %table.dashboard
    %thead
      %tr.title
        %td{:colspan => 2} TreeStats Stats
    %tbody
      %tr.subtitle
        %td{:colspan => 2} General Statistics
      %tr
        %td Tracked Characters
        %td= add_commas(@character_count.to_s)
      %tr
        %td Tracked Allegiances
        %td= add_commas(@allegiance_count.to_s)
      %tr.subtitle
        %td{:colspan => 2} Characters By Server
      - @server_counts.each do |s,c|
        %tr
          %td= s
          %td= add_commas(c.to_s)



  - if @most_titles && @most_titles.count > 0
    %table.dashboard
      %thead
        %tr.title
          %td{:colspan => 3} Most Titles
        %tr
          %th Name
          %th Server
          %th Titles
      %tbody
        - @most_titles.each do |character|
          %tr
            %td
              %a{:href => "/#{character["s"]}/#{character["n"]}"}= character["n"]
            %td= character["s"]
            %td= add_commas(character["num_titles"].to_s)

  - if @most_deaths && @most_deaths.count > 0
    %table.dashboard
      %thead
        %tr.title
          %td{:colspan => 3} Most Deaths
        %tr
          %th Name
          %th Server
          %th Deaths
      %tbody
        - @most_deaths.each do |character|
          %tr
            %td
              %a{:href => "/#{character["s"]}/#{character["n"]}"}= character["n"]
            %td= character["s"]
            %td= add_commas(character["deaths"].to_s)

  %table.dashboard
    %thead
      %tr.title
        %td Daily Uploads
    %tbody
      %td#dailyuploads.dashboard.statchart
        %script{:type => "text/javascript", :src => "/js/d3.min.js"}
        %script{:type => "text/javascript", :src => "/js/statchart.js?v=1"}
        :javascript
          d3.json("/stats/uploads/daily", function(error, json) {
            if (error) return console.warn(error);
            statchart.add("#dailyuploads", json)
          })

%h3 What is TreeStats?

%p
  TreeStats is a
  %a{:href => "http://www.decaldev.com"} Decal
  plugin for
  %a{:href => "http://turbine.com"} Turbine's
  %a{:href => "http://www.asheronscall.com/"} Asheron's Call
  = ". It uploads information about characters you log into with the plugin running, such as:"

%ul
  %li General information (Name, race, level, etc.)
  %li Attributes, skills, and titles
  %li Augmentations, ratings, and other miscellaneous information

%p
  Only the information your character knows about (itself, its monarch/patron/vassal names) will be uploaded. You won't get information about players your see while playing (aka it doesn't get information on the players you inspect or are near). For monarch/patron/vassals, only name, race, and rank are collected.

%p
  This website adds a few features on top of the data the plugin collects:

%ul
  %li
    %a{:href => "/player_counts"} Server population counts
  %li Each characters' allegiance chain (so far as they are known)
  %li Each allegiance's tree (so far as it's known)
  %li Rankings for statistics of interest (i.e. level, character age, War Magic skill level)

%h3 What should I do now that I'm here?

%p
  If you play AC and want your characters' information to be available offline and to the public, go
  %a{:href => "/download"} download
  and install TreeStats.
