%h2 Navigation

%ul
  %li
    %a{:href => "/player_counts/"} Player Counts
  %li
    %a{:href => "/servers/"} Servers
  %li
    %a{:href => "/characters/"} Characters
  %li
    %a{:href => '/allegiances'} Allegiances
  %li
    %a{:href => "/titles"} Titles

%h2 Retail Servers

%ul
  - ServerHelper.retail_servers.each do |server|
    %li
      %a{:href => "/#{server}"}= server

%h2 Private Servers

%ul
  - ServerHelper.servers.each do |server|
    %li
      %a{:href => "/#{server}"}= server

%h2 Attribute Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    - ServerHelper.retail_servers.each do |server|
      %option{:value => server}= server
    - ServerHelper.servers.each do |server|
      %option{:value => server}= server
  %select{:name => 'ranking'}
    %option{:value => 'strength'} Strength
    %option{:value => 'endurance'} Endurance
    %option{:value => 'coordination'} Coordination
    %option{:value => 'quickness'} Quickness
    %option{:value => 'focus'} Focus
    %option{:value => 'self'} Self
  %input{:type => 'submit'}

%h2 Vital Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    - ServerHelper.retail_servers.each do |server|
      %option{:value => server}= server
    - ServerHelper.servers.each do |server|
      %option{:value => server}= server
  %select{:name => 'ranking'}
    %option{:value => 'health'} Health
    %option{:value => 'stamina'} Stamina
    %option{:value => 'mana'} Mana
  %input{:type => 'submit'}

%h2 Skill Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    - ServerHelper.retail_servers.each do |server|
      %option{:value => server}= server
    - ServerHelper.servers.each do |server|
      %option{:value => server}= server
  %select{:name => 'ranking'}
    %option{:value => 'alchemy'} Alchemy
    %option{:value => 'arcane_lore'} Arcane Lore
    %option{:value => 'armor_tinkering'} Armor Tinkering
    %option{:value => 'assess_creature'} Assess Creature
    %option{:value => 'assess_person'} Assess Person
    %option{:value => 'cooking'} Cooking
    %option{:value => 'creature_enchantment'} Creature Enchantment
    %option{:value => 'deception'} Deception
    %option{:value => 'dirty_fighting'} Dirty Fighting
    %option{:value => 'dual_wield'} Dual Wield
    %option{:value => 'fletching'} Fletching
    %option{:value => 'finesse_weapons'} Finesse Weapons
    %option{:value => 'healing'} Healing
    %option{:value => 'heavy_weapons'} Heavy Weapons
    %option{:value => 'item_enchantment'} Item Enchantment
    %option{:value => 'item_tinkering'} Item Tinkering
    %option{:value => 'jump'} Jump
    %option{:value => 'leadership'} Leadership
    %option{:value => 'life_magic'} Life Magic
    %option{:value => 'light_weapons'} Light Weapons
    %option{:value => 'lockpick'} Lockpick
    %option{:value => 'loyalty'} Loyalty
    %option{:value => 'magic_defense'} Magic Defense
    %option{:value => 'magic_item_tinkering'} Magic Item Tinkering
    %option{:value => 'mana_conversion'} Mana Conversion
    %option{:value => 'melee_defense'} Melee Defense
    %option{:value => 'missile_defense'} Missile Defense
    %option{:value => 'missile_weapons'} Missile Weapons
    %option{:value => 'recklessness'} Recklessness
    %option{:value => 'run'} Run
    %option{:value => 'salvaging'} Salvaging
    %option{:value => 'shield'} Shield
    %option{:value => 'sneak_attack'} Sneak Attack
    %option{:value => 'two_handed_combat'} Two Handed Combat
    %option{:value => 'summoning'} Summoning
    %option{:value => 'void_magic'} Void Magic
    %option{:value => 'war_magic'} War Magic
    %option{:value => 'weapon_tinkering'} Weapon Tinkering
  %input{:type => 'submit'}

%h2 Other Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    - ServerHelper.retail_servers.each do |server|
      %option{:value => server}= server
    - ServerHelper.servers.each do |server|
      %option{:value => server}= server
  %select{:name => 'ranking'}
    %option{:value => 'level'} Level
    %option{:value => 'birth'} Oldest Char
    %option{:value => 'deaths'} Most Deaths
    %option{:value => 'rank'} Rank
    %option{:value => 'followers'} Followers
    %option{:value => 'unassigned_xp'} Unassigned XP
    %option{:value => 'total_xp'} Total XP
    %option{:value => 'titles'} Titles
    %option{:value => 'times_enlightened'} Times Enlightened

  %input{:type => 'submit'}
