%h2.title Player Counts

%p
  %strong Maximum daily count of players by server<br>
  %small
    Note: Counts may include bots or players running bot armies and therefore isn't
    necessarily an accurate count of the number of people playing on each server.

%p
  For information on how to connect to any of these servers, see the
  %a{:href => "/servers"} Servers
  page.

#chartcontainer
  #chartsidebar
    .sidebargroup
      .sidebargroup-header
        Time Range
      .sidebargroup-items
        %ul
          %li
            %a{:href => "?servers=#{params[:servers]}&range=3mo"} 3mo
            %a{:href => "?servers=#{params[:servers]}&range=6mo"} 6mo
            %a{:href => "?servers=#{params[:servers]}&range=1yr"} 1yr
            %a{:href => "?servers=#{params[:servers]}&range=All"} All
    .sidebargroup
      .sidebargroup-header
        Favorites
      .sidebargroup-items
        %ul
          %li
            %a{:href => "?servers=lowerpop&range=#{params[:range]}"} ⭐️ Lower Pop Servers
    .sidebargroup
      .sidebargroup-header
        Server Type
      .sidebargroup-items
        %ul
          %li
            %a{:href => "?servers=retail&range=#{params[:range]}"} Retail
          %li
            %a{:href => "?servers=emulator&range=#{params[:range]}"} Emulator
    .sidebargroup
      .sidebargroup-header
        Retail Servers
      .sidebargroup-items
        %ul
          - @retail_servers.each do |s|
            %li
              %a{:href => "?servers=#{s}&range=#{params[:range]}"}= s
    .sidebargroup
      .sidebargroup-header
        Emulator Servers
      .sidebargroup-items
        %ul
          - @private_servers.each do |s|
            %li
              %a{:href => "?servers=#{s}&range=#{params[:range]}"}= s
  -# #chartheader
  -#   %form{ :action => "/player_counts", :method => "GET" }
  -#     %div
  -#       %label{:for => "servers"} Server:
  -#       %select#servers{:name => "servers"}
  -#         %option{:value => "All"} All Servers
  -#         - @servers.each do |server|
  -#           %option{:value => server, :selected => @current == server}= server
  -#       %input{:type => "submit", :value => "Filter"}
  -#     %div
  -#       %label{:for => "range"} Time Range:
  -#       %select#range{:name => "range"}
  -#         %option{:value => "3mo", :selected => @range == "3mo"} 3 months
  -#         %option{:value => "6mo", :selected => @range == "6mo"} 6 months
  -#         %option{:value => "1yr", :selected => @range == "1yr"} 1 year
  -#         %option{:value => "All", :selected => @range == "All"} All Time
  -#       %input{:type => "submit", :value => "Filter"}

  #chart

%p
  %a{:href => "/player_counts-latest.json"} Latest player counts (JSON)

:css
  #chartcontainer {
    max-width: 960px;
    display: grid;
    grid-template-columns: 170px auto;
    border: 1px solid #af7a30;
  }

  #chartsidebar {
    border-right: 1px solid #af7a30;
  }

  #chartsidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #chartsidebar .sidebargroup-header {
    background-color: purple;
  }

  .sidebargroup-header,
  .sidebargroup-items li {
    padding: 1px 5px;
  }

  .sidebargroup-items ul {
    line-height: 1.5em;
    padding: 0 5px;
  }

  #chartheader form {
    display: flex;
    flex-wrap: wrap;
  }

  #chartheader div {
    width: 50%;
  }

  #chartheader div:last-child {
    text-align: right;
  }

  text {
    fill: rgba(220, 220, 220, 0.8);
    font-weight: normal;
    font-size: 14px;
  }

  .x.axis line {
    stroke: rgba(220, 220, 220, 0.2);
  }

  .axis label {
    fill: #CCC;
  }

  .x.axis .minor {
    stroke-opacity: 1;
  }

  .x.axis path {
    fill: none;
    stroke: white;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: white;
  }

  .label text {
    font-weight: normal;
  }

  .label rect {
    stroke: white;
  }

  .flash {
    animation: 1s infinite alternate flash;
  }

  @keyframes flash {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .total_pop {
    font-weight: bold;
    fill: gold;
  }

-# %script{:src => javascript_path('d3.min')}
%script{:src => "https://d3js.org/d3.v7.min.js"}
%script{:src => javascript_path('popchart_redesign')}

:javascript
  popchart("#chart", "#{@player_counts_url}");
