%h2.title= "Ranking: #{@display_name}"

%h3
  Server:
  = @server

%p
  %h3 Filter to server

  %table.deflist
    %tbody
    %tr
      %td Groups
      %td
        %a{:href => "/rankings?ranking=#{params['ranking']}&server=All"} All
        %a{:href => "/rankings?ranking=#{params['ranking']}&server=Retail"} Retail
        %a{:href => "/rankings?ranking=#{params['ranking']}&server=Emulators"} Private
    %tr
      %td Retail Servers
      %td
        - ServerHelper.retail_servers.each do |server|
          %a{:href => "/rankings?ranking=#{params['ranking']}&server=#{server}"}= server
    %tr
      %td Private Servers
      %td
        - ServerHelper.servers.each do |server|
          %a{:href => "/rankings?ranking=#{params['ranking']}&server=#{server}"}= server

- if RankingsHelper::RANKINGS[params['ranking'].to_sym].has_key?(:summary)
  %script{:src => javascript_path('d3.min')}
  %script{:src => javascript_path('summary_chart')}

  :css
    div.chart {
      max-width: 600px;
    }

    .chart-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #ccc;
      font-size: 14px;
    }

    .bar {
      fill: #392067;
      stroke: white;
      shape-rendering: smoothEdges;
    }

    .axis path,
    .axis line,
    .axis text {
      fill: none;
      stroke: #fff;
      shape-rendering: smoothEdges;
    }

    .x.axis text {
      fill: white;
      font-weight: normal;
      stroke: none;
    }
    .y.axis text {
      fill: white;
      font-weight: normal;
      stroke: none;
    }

    .tooltip {
      position: absolute;
      padding: 0.2em;
      color: white;
      background: black;
      border: 1px solid #CCC;
      pointer-events: none;
    }

  .chart
    #chart-summary
      .chart-loading Loading...

    :javascript
      d3.json('/rankings/#{params['ranking']}/summary#{request.query_string.length > 0 ? '?' + request.query_string : ''}', function(data) {
        // Clear loading message
        d3.select("#chart-summary").selectAll("*").remove();

        if(data && data.data && data.data.length > 0) {
          d3.select("#chart-summary")
            .datum(data.data)
            .call(summary_chart());
        } else {
          d3.select("#chart-summary")
            .append("div")
            .attr("class", "chart-loading")
            .text("No data available");
        }
      });

%table.listing
  %thead
    %tr
      %th Name
      %th Server
      %th
        %a{:href => @sort_url}= @display_name
  %tbody
    - @results.each do |result|
      %tr
        %td
          %a{:href => "/#{result['s']}/#{result['n']}"}= result['n']
        %td= result['s']
        %td= @accessor.call(result)
