%h2.title Rankings

%p
  %b Server:
  = params[:server]
%p
  %b Ranking:
  - if @tokens.length > 1
    = @tokens[1].split("_").map(&:capitalize).join(" ")
  - else
    = @tokens[0].split("_").map(&:capitalize).join(" ")
      
- if !@characters.exists?
  %span Couldn't find any characters for this ranking.
- else
  %table
    %thead
      %tr
        %th Name
        %th= (@tokens.length == 1 ? @tokens : @tokens[1].split("_")).map(&:capitalize).join(" ")
    %tbody
    
      - @characters.each do |character|
        - next if character.attribs.nil? # Go next if this is a stub character
        %tr
          %td
            %a{:href => "/#{character['server']}/#{character['name']}"}= "#{character['name']} (#{character['server']})"
          - if(@tokens.length == 1)
            %td= character[@tokens[0]]
          - else
            %td= character[@tokens[0]][@tokens[1]][@tokens[2]]
          
