%h2.title= "Ranking: #{@display_name}"

%p
  %b Server:
  = @server

%p
  Filter to server:
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Darktide"} Darktide
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Frostfell"} Frostfell
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Harvestgain"} Harvestgain
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Leafcull"} Leafcull
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Morningthaw"} Morningthaw
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Thistledown"} Thistledown
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Solclaim"} Solclaim
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Verdantine"} Verdantine
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=WintersEbb"} WintersEbb
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Reefcull"} Reefcull
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=Hightide"} Hightide

%table.listing
  %thead
    %tr
      %th Name
      %th Server
      %th
        %a{:href => @sort_url}= @display_name
  %tbody
    - @results.each do |result|
      %tr
        %td
          %a{:href => "/#{result['s']}/#{result['n']}"}= result['n']
        %td= result['s']
        %td= @accessor.call(result)
