%h2.title= "Ranking: #{@display_name}"

%p
  %b Server:
  = @server

%p
  Filter to server:
  %a{:href => "/rankings?ranking=#{params['ranking']}&server=All"} All
  - ServerHelper.retail_servers.each do |server|
    %a{:href => "/rankings?ranking=#{params['ranking']}&server=#{server}"}= server
  - ServerHelper.servers.each do |server|
    %a{:href => "/rankings?ranking=#{params['ranking']}&server=#{server}"}= server

%table.listing
  %thead
    %tr
      %th Name
      %th Server
      %th
        %a{:href => @sort_url}= @display_name
  %tbody
    - @results.each do |result|
      %tr
        %td
          %a{:href => "/#{result['s']}/#{result['n']}"}= result['n']
        %td= result['s']
        %td= @accessor.call(result)
