%h2.title= "Ranking: #{@display_name}"

%h3
  Server:
  = @server

%p
  %h3 Filter to server

  %table.deflist
    %tbody
    %tr
      %td Groups
      %td
        %a{:href => "/rankings?ranking=#{params['ranking']}&server=All"} All
        %a{:href => "/rankings?ranking=#{params['ranking']}&server=Retail"} Retail
        %a{:href => "/rankings?ranking=#{params['ranking']}&server=Emulators"} Private
    %tr
      %td Retail Servers
      %td
        - ServerHelper.retail_servers.each do |server|
          %a{:href => "/rankings?ranking=#{params['ranking']}&server=#{server}"}= server
    %tr
      %td Private Servers
      %td
        - ServerHelper.servers.each do |server|
          %a{:href => "/rankings?ranking=#{params['ranking']}&server=#{server}"}= server

%table.listing
  %thead
    %tr
      %th Name
      %th Server
      %th
        %a{:href => @sort_url}= @display_name
  %tbody
    - @results.each do |result|
      %tr
        %td
          %a{:href => "/#{result['s']}/#{result['n']}"}= result['n']
        %td= result['s']
        %td= @accessor.call(result)
