%h2.title Search
- if @records && @records.count > 0
  Found
  = @records.count
  = @records.count == 1 ? "result" : "results"
  - if params && params[:character]
    %ul
      - @records.to_a.each do |r|
        %li
          %a{:href => "/#{r.server}/#{r.name}"}= "#{r.name} (#{r.server})"
  - elsif params && params[:allegiance]
    %ul
      - @records.to_a.each do |r|
        %li
          %a{:href => "/allegiances/#{r.server}-#{r.name}"}= "#{r.name} (#{r.server})"
- else
  %span No records found.
