%h2.title Servers

%h3 Retail Servers
%ul
  %li
    %a{:href => "/Darktide/"} Darktide
  %li
    %a{:href => "/Frostfell/"} Frostfell
  %li
    %a{:href => "/Harvestgain/"} Harvestgain
  %li
    %a{:href => "/Leafcull/"} Leafcull
  %li
    %a{:href => "/Morningthaw/"} Morningthaw
  %li
    %a{:href => "/Thistledown/"} Thistledown
  %li
    %a{:href => "/Solclaim/"} Solclaim
  %li
    %a{:href => "/Verdantine/"} Verdantine
  %li
    %a{:href => "/WintersEbb/"} WintersEbb

- if @servers.length > 0
  %h3 Private Servers
  %table.listing
    %thead
      %tr
        %th Name
        %th Type
        %th Description
        %th Info
    %tbody
      - @servers.each do |server|
        %tr
          %td
            %a{:href => "/#{server[:name]}"}= server[:name]
          %td= server[:type]
          %td= server[:description]
          %td{:style => "max-width: 400px; white-space: wrap; overflow: hidden; text-overflow: ellipsis;"}
            Connect: #{server[:address]}<br>
            Website: <a href="#{server[:website]}">#{server[:website]}</a><br />
            Discord: <a href="#{server[:discord]}">#{server[:discord]}</a>

