%h2.title= params[:server]

%table.deflist
  %tbody
    %tr
      %td
        Online
      %td
        = @online[:count]
        characters online as of
        = AppHelper.relative_time(@online[:created_at])
        #sparkline
    %tr
      %td
        Uploaded
      %td
        = AppHelper.add_commas(@uploaded)
        characters uploaded
    - if @details
      %tr
        %td
          Type
        %td= @details[:type]
      %tr
        %td
          Description
        %td= @details[:description]
      %tr
        %td
          Address
        %td= @details[:address]
      %tr
        %td
          Website
        %td
          %a{:href => @details[:website]}= @details[:website]
      %tr
        %td
          Discord
        %td
          %a{:href => @details[:discord]}= @details[:discord]

- if @characters.count == 0
  %span No characters to display for this server which means no one is running TreeStats on the server :(.
- else
  %h3 Recent Uploads
  %table.listing
    %thead
      %tr
        %th Name
        %th Updated
    %tbody
      - @characters.each do |character|
        %tr
          %td
            %a{:href => "/#{character[:server]}/#{character[:name]}"}= character[:name]
          %td= AppHelper.relative_time(character[:updated_at])


%script{:src => javascript_path('d3.min')}
%script{:src => javascript_path('sparkline')}

:javascript
  sparkline("#sparkline", "/player_counts.json?range=3mo&servers=#{params[:server]}");
