%h2.title
  %a{:href => "/servers"} Servers

- if @servers.length > 0
  %h3#private
    %a{:href => "#private"} Private Servers

  %p
    This list stays roughly in sync with the
    %a{:href => "https://github.com/acresources/serverslist/"} Community Server List
    \. If you'd like to add or remove your server, please
    %a{:href => "https://github.com/acresources/serverslist"} go there
    and submit a
    %a{:href => "https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests"} Pull Request
    \.

  %table.listing.auto#servers
    %thead
      %tr
        %th Name
        %th Description
        %th Type
        %th Online
        %th Software
        %th Connect
        %th More
    %tbody
      - @servers.each do |server|
        %tr
          %td
            %a{:href => "/#{server[:name]}"}= server[:name]
          %td= server[:description]
          %td= server[:type]
          %td= server[:players] ? server[:players][:count] : nil
          %td
            - if @softwares[server[:software]]
              %a{:href => @softwares[server[:software]]}= server[:software]
            - else
              = server[:software]
          %td= "#{server[:host]}:#{server[:port]}"
          %td
            - if server[:website_url]
              %a{:href => server[:website_url]} Website
            - if server[:discord_url]
              %a{:href => server[:discord_url]} Discord

%h3#retail
  %a{:href => "#retail" }Retail Servers
%ul
  %li
    %a{:href => "/Darktide/"} Darktide
  %li
    %a{:href => "/Frostfell/"} Frostfell
  %li
    %a{:href => "/Harvestgain/"} Harvestgain
  %li
    %a{:href => "/Leafcull/"} Leafcull
  %li
    %a{:href => "/Morningthaw/"} Morningthaw
  %li
    %a{:href => "/Thistledown/"} Thistledown
  %li
    %a{:href => "/Solclaim/"} Solclaim
  %li
    %a{:href => "/Verdantine/"} Verdantine
  %li
    %a{:href => "/WintersEbb/"} WintersEbb

%script{:type => "text/javascript", :src => javascript_path('tablesort.min')}
%script{:type => "text/javascript", :src => javascript_path('tablesort.numeric')}
%script{:type => "text/javascript", :src => javascript_path('tablesort.commasep')}

:javascript
  new Tablesort(document.getElementById("servers"))
