%small
  %a{:href => "/servers"} Back to List of Servers

%h2.title= params[:server]

- if @online || @details
  %table.deflist
    %tbody
      - if @online
        %tr
          %td
            Online
          %td
            = AppHelper.add_commas(@online[:count])
            = @online[:count] == 1 ? "character" : "characters"
            online as of
            = AppHelper.relative_time(@online[:created_at])
            #sparkline{:style => "width: 200px; height: 25px;"}
        %tr
          %td
            Uploaded
          %td
            = AppHelper.add_commas(@uploaded)
            = @uploaded == 1 ? "character" : "characters"
            uploaded
      - if @details
        %tr
          %td
            Type
          %td= @details[:type]
        %tr
          %td
            Description
          %td= @details[:description]
        %tr
          %td
            Address
          %td= "#{@details[:host]}:#{@details[:port]}"
        %tr
          %td Software
          %td
            - if @softwares[@details[:software]]
              %a{:href => @softwares[@details[:software]]}= @details[:software]
            - else
              = @details[:software]
        - if @details[:website_url]
          %tr
            %td
              Website
            %td
              %a{:href => @details[:website_url]}= @details[:website_url]
        - if @details[:discord_url]
          %tr
            %td
              Discord
            %td
              %a{:href => @details[:discord_url]}= @details[:discord_url]

- if @characters.count == 0
  %span No characters to display for this server which means no one is running TreeStats on the server :(.
- else
  %h3 Recent Uploads
  %table.listing
    %thead
      %tr
        %th Name
        %th Updated
    %tbody
      - @characters.each do |character|
        %tr
          %td
            %a{:href => "/#{character[:server]}/#{character[:name]}"}= character[:name]
          %td= AppHelper.relative_time(character[:updated_at])


%script{:src => javascript_path('d3.min')}
%script{:src => javascript_path('sparkline')}

:javascript
  sparkline("#sparkline", "#{params[:server]}", "/player_counts.json?range=3mo&servers=#{params[:server]}");
