%h2.title= params[:server].capitalize

- if @characters.count == 0
  %span No characters to display for this server.
- else
  %span
    There
    = @characters.count > 1 ? "are" : "is"
    = "#{@characters.count} character#{@characters.count > 1 ? "s" : ""}"
    uploaded from this server. Here's 100 of the most recently updated ones.
  %ul
    - @characters.each do |c|
      %li
        %a{:href => "/#{c['server']}/#{c['name']}"}= "#{c['name']} (#{c['server']})"