%h2.title= params[:server].capitalize

- if @characters.count == 0
  %span No characters to display for this server.
- else
  %ul
    - @characters.each do |c|
      %li
        %a{:href => "/#{c['server']}/#{c['name']}"}= "#{c['name']} (#{c['server']})"