%h2.title= params[:server].capitalize

- if @characters.count == 0
  %span No characters to display for this server which means no one is running TreeStats on the server :(.
- else
  %p
    There
    = @characters.count > 1 ? "are" : "is"
    = "#{@characters.count} character#{@characters.count > 1 ? "s" : ""}"
    uploaded from this server.
    - if @characters.count > 100
      Here's 100 of the most recently updated ones.

  %table.listing
    %thead
      %tr
        %th Name
        %th Updated
    %tbody
      - @characters.each do |character|
        %tr
          %td
            %a{:href => "/#{character[:server]}/#{character[:name]}"}= character[:name]
          %td= AppHelper.relative_time(character[:updated_at])
